<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <table id="user_table" class="table table-hover table-bordered ">
        <caption>List of Users</caption>
        <thead>
            <tr id="heading">
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Full Name</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for x in user %}
            <tr>
                <td>{{ x.first_name }}</td> 
                <td>{{ x["last_name"] }}</td>
                <td>{{ x['first_name'] }} {{ x['last_name'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</body>
</html>